.Home {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(227, 204, 204);
  color: rgb(20, 20, 20);
  justify-content: space-evenly;
  height: 90vh;
}

.Home a {
  color: rgb(20, 20, 20);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.desk img {
  height: 62vh;
}
