.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline-start: 1vh;
  justify-content: center;
  background-color: #ffff;
}

.book-app{
margin-block-start: 10vh;
}

.book-preview {
  height: 60vh;
  width: 44vw;
  background-color: rgb(245, 245, 245);
  text-align: center;
  margin-inline-end: 1vh;
  margin-block-end: 1vh;
  border-radius: 1rem;
  transition: transform 0.5s, background-color 0.5s;
  transition: box-shadow 0.3s ease 0s;
}

.book-preview a:link {
  text-decoration: none;
  color: rgb(34, 32, 32);
}

.book-preview:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.book-preview a:visited {
  color: rgb(91, 50, 93);
}

.book-preview .book-img {
  position: relative;
}

.book-img img {
  height: 20vh;
}

.book-preview .sale-img {
  position: absolute;
  animation: blink-2 1.5s infinite both;
  text-align: center;
  margin-inline-start: 11vh;
}

.book-details .book-img .sale-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  animation: blink-2 1.5s infinite both;
}

.book-preview .book-img .sale-img img {
  width: 10vw;
  height: 5vh;
  margin-block-start: 14vh;
}

/* book-filter */

.book-filter {
  background-color: #ffff;
  position: inherit;
  top: 0;
  width: 100vw;
  padding-inline-start: 1vh;
  padding-inline-end: 1vh;
  display: flex;
  text-align: center;
  justify-content: center;
}

.filter:last-child{
  margin-inline-start: 1vh;
}

.book-filter .filter {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 33vw;
}

.book-filter .filter input {
  margin-top: 10px;
  margin-inline-end: 5px;
  border: 0;
  height: 2.2rem;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid #2e2e2e;
  margin-block-end: 2vh;
}

.book-filter .search-filter {
  display: inline-block;
  position: relative;
  left: -10px;
  top: 10px;
}

.book-filter img {
  mix-blend-mode: multiply;
  height: 2.5vh;
}

.book-info{
  height: 28vh;
}

.text-filter{
  display: flex;
  position: fixed;
  top: 2.8%;
  left: 62%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: unset;
}
.book-filter input:first-child{
    height: 3.33vh;
    width: 41vw;
    margin-block-start: 1.2vh;
}
.book-filter input:first-child {
  background-image: url('../book/img/search.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 5px 10px 20px;
  text-indent: 20px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  transition: all 0.2s;
}

/* ANIMATIONS */

@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/* @media (min-width: 640px) {
  .book-preview {
    height: 60vh;
    width: 28vw;
  }

  .book-img img {
    height: 20vh;
  }

  .book-preview .sale-img {
    margin-inline-start: 10vh;
  }

  .book-preview .book-img .sale-img img {
    width: 8vw;
    height: 5vh;
    margin-block-start: 14vh;
  }
} */

@media (min-width: 450px) {
  .book-img img {
    height: 28vh;
  }
}
@media (min-width: 640px) {
  .book-preview {
    height: 60vh;
    width: 31.5vw;
  }
  .book-preview .book-img .sale-img img {
    width: 10vw;
    height: 8vh;
  }
  .book-img img {
    height: 28vh;
  }
  .book-preview .sale-img {
    margin-inline-start: 14vh;
  }
  .book-preview .book-img .sale-img img {
    margin-block-start: 17vh;
  }
}


/* input css */
input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #8367a0;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #8367a0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #7941c9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #8367a0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #8367a0;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #8367a0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #7941c9;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #8367a0;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #8367a0;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #8367a0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #7941c9;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #8367a0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #8367a0;
}