.note-img img {
  width: 200px;
  height: auto;
}

.note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.note-preview {
  width: 50vw;
  background-color: bisque;
  text-align: center;
}
