.emails-container {
  display: flex;
}

.email-search {
  display: flex;
  position: fixed;
  top: 2.8%;
  left: 62%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.email-search input {
  height: 3.33vh;
  width: 41vw;
  margin-block-start: 2.3vh;
}

.email-search .email-search-isread-btn {
  margin-inline-start: 0.5vh;
  width: 9vw;
  height: 3.33vh;
  margin-inline-end: 0.5vw;
  margin-block-start: 2.3vh;
}

.email-navbar {
  z-index: 2;
  margin-block-start: 0.1vh;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 30vw;
  height: 89vh;
  box-shadow: 6px 2px 11px -6px rgba(0, 0, 0, 0.096);
}

.email-list {
  background-color: rgb(245, 245, 245);
  width: 70vw;
}

.email-compose{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(76 38 78 / 62%);
  text-align: center;
  padding: 6vh;
}
.email-compose input{
  height: 3.33vh;
  width: 41vw;
}
.email-compose textarea{
  height: 9.99vh;
  width: 41vw;
}

.email-navbar img {
  height: 3vh;
  margin-inline-start: 1vh;
  margin-block-end: 1vh;
}
.email-navbar a:hover {
  background-color: rgb(200, 112, 244);
}

.email-navbar .add-email-btn {
  align-self: center;
}
.email-navbar a.add-email-btn:hover {
  background-color: unset;
}

.email-navbar .email-add img {
  margin-block-end: 1vh;
  border-radius: 1rem;
  box-shadow: rgb(84 84 84 / 14%) -1px 1px 5px 0px;
  cursor: pointer;
}

.email-preview {
  display: flex;
  margin-block-end: 1;
  cursor: pointer;
  justify-content: space-between;
  padding-right: 10px;
  font-size: 0.6rem;
}
.email-preview:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.email-preview a:link {
  text-decoration: none;
  color: rgb(34, 32, 32);
}

.email-preview a:visited {
  color: rgb(116, 114, 114);
}

.email-date {
  margin-block-start: 2.5vh;
}

.email-preview-expanded {
  background-color: #fff;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  line-height: 1.5em;
  font-size: 0.6rem;
}

.email-preview-expanded:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}


.email-search input:first-child {
  background-image: url(https://cdn4.iconfinder.com/data/icons/round-mobile-ui-set/512/letter-message-email-mail-20.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  padding: 10px 5px 10px 20px;
  text-indent: 20px;

  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  transition: all 0.2s;
}

@media (min-width: 540px) {
  .email-navbar img {
    height: 4vh;
  }

  .email-navbar .email-add img {
    height: 5vh;
  }
  .email-preview {
    font-size: 0.8rem;
  }
  .email-preview-expanded {
    font-size: 0.9rem;
  }
}

@media (min-width: 60em) {
  .email-search {
    left: 38%;
  }
  .email-search input {
    width: 25vw;
  }
  .email-search .email-search-isread-btn {
    width: 6vw;
  }

}
