.app-header {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  background-color: #966ebb;
  color: rgb(231, 223, 223);
  justify-content: space-between;
  height: 10vh;
}
.app-header a {
  color: rgb(29, 27, 27);
  text-decoration: none;
  flex-direction: row;
  font-size: large;
  margin-inline-end: 10px;
}

h1 {
  cursor: pointer;
}

.app-header :first-child {
  padding-left: 15px;
}

.app-header nav {
  padding-right: 10px;
}

.app-header img {
  height: 6vh;
  cursor: pointer;
}
